github "AFNetworking/AFNetworking" "4.0.1"
github "Beniamiiin/SocketRocket" "master"
github "Flipboard/FLAnimatedImage" "1.0.14"
github "SnapKit/Masonry" "v1.1.0"
github "iziz/libPhoneNumber-iOS" "0.9.15"